@inject NavigationManager navigationManager


<div class="w-full h-16 max-w-lg bg-white border border-gray-200 rounded-full bottom-4 dark:bg-zinc-900 dark:border-zinc-700 mx-1.5">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">

        @* Botón de Home *@
        <button @onclick="()=>GoSection(0)" data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 dark:hover:bg-zinc-800 group">
            <svg class="w-5 h-5 mb-1 group-hover:text-current-600 @(Settings. Section == 0 ? "fill-current-500 dark:fill-current-600":"text-zinc-500") dark:group-hover:text-zinc-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
            </svg>
            <span class="sr-only">Inicio</span>
        </button>

        @* Botón de Inventario *@
        <button @onclick="()=>GoSection(1)" data-tooltip-target="tooltip-wallet" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-zinc-800 group">

            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mb-1 @(Settings.Section == 1 ? "fill-current-500 dark:fill-current-600":"fill-zinc-500")  group-hover:fill-current-600 dark:group-hover:fill-slate-500" viewBox="0 0 16 16">
                <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3m2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1" />
            </svg>

            <span class="sr-only">Inventarios</span>
        </button>

        @* Botón central *@
        <div class="flex items-center justify-center">
            <button @onclick="Settings.OnCenterClick" data-tooltip-target="tooltip-new" type="button" class="inline-flex items-center justify-center w-10 h-10 font-medium bg-current-500 rounded-full hover:bg-current-700 group focus:ring-4 focus:ring-current-300 focus:outline-none dark:focus:ring-current-800">
                @if (Settings.DockIcon == 0)
                {
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                    </svg>
                }
                else if (Settings.DockIcon == 1)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" version="1.1" class="h-4 w-4 fill-white"><path d="M0 0 C4.16347012 3.4964018 8.08707008 7.22822917 12 11 C12.71800781 11.65484375 13.43601563 12.3096875 14.17578125 12.984375 C20.46536293 18.88322115 25.23469978 25.86116307 30 33 C30.63035156 33.93457031 31.26070312 34.86914062 31.91015625 35.83203125 C35.7340925 41.92071334 38.54590444 48.33466425 41.1875 55 C41.5086377 55.78705322 41.82977539 56.57410645 42.16064453 57.38500977 C48.6288079 74.43121085 49.67462486 91.80175574 49.57641602 109.8659668 C49.56242094 113.45778943 49.59692837 117.04706214 49.63476562 120.63867188 C49.68776871 136.25709347 48.87201094 148.4825821 38.23046875 160.78125 C28.96355273 169.99947819 17.860369 174.80542246 4.875 175.25 C-10.19188737 175.04556462 -21.57652502 168.42347498 -32 158 C-32.49886719 158.43570313 -32.99773437 158.87140625 -33.51171875 159.3203125 C-48.45835388 171.71770106 -66.90325934 176.07394758 -86 175 C-106.74423628 172.30621881 -124.68493664 162.80990927 -137.6875 146.3125 C-149.37303444 130.11997933 -154.07200926 110.95610279 -151.50390625 91.1796875 C-147.76831018 70.6233566 -137.42180191 53.37910891 -120.390625 41.140625 C-103.18523362 29.86672628 -82.97767463 26.69260778 -62.93286133 30.58935547 C-44.40527851 34.57048897 -29.07285795 45.54836525 -18.07421875 60.7890625 C-9.53900252 74.00177011 -5.9616891 88.2787713 -5.75390625 103.85546875 C-5.72100081 105.54622978 -5.68778867 107.23698486 -5.65429688 108.92773438 C-5.60674745 111.56758995 -5.56220569 114.20741592 -5.52319336 116.84741211 C-5.48349868 119.41282909 -5.4319924 121.97779881 -5.37890625 124.54296875 C-5.36628502 125.72586739 -5.36628502 125.72586739 -5.35340881 126.93266296 C-5.28407371 132.30005618 -5.28407371 132.30005618 -3 137 C0.97359497 139.33740881 3.14743812 140.11367492 7.75 139.5 C11.61801829 137.71476079 12.29203486 136.84812686 14 133 C14.42813783 129.94718701 14.42054199 126.93039162 14.3984375 123.8515625 C14.40130768 122.96197845 14.40417786 122.07239441 14.40713501 121.15585327 C14.4091738 119.27137619 14.40365689 117.38687785 14.39111328 115.50244141 C14.3752469 112.66909092 14.39086863 109.83720876 14.41015625 107.00390625 C14.43976104 82.05995118 8.02657023 58.9819184 -9 40 C-10.21816406 38.64068359 -10.21816406 38.64068359 -11.4609375 37.25390625 C-27.21858553 20.59516104 -49.90474495 9.49742734 -72.96875 8.796875 C-98.36863393 8.437259 -121.66216292 14.65417467 -141 32 C-141.90621094 32.81210937 -142.81242187 33.62421875 -143.74609375 34.4609375 C-160.40483896 50.21858553 -171.50257266 72.90474495 -172.203125 95.96875 C-172.562741 121.36863393 -166.34582533 144.66216292 -149 164 C-148.18789062 164.90621094 -147.37578125 165.81242188 -146.5390625 166.74609375 C-130.78141447 183.40483896 -108.09525505 194.50257266 -85.03125 195.203125 C-66.81047411 195.46109793 -51.0602898 192.94547037 -34.75 184.25 C-28.74664439 181.18032302 -23.29352783 180.01611583 -16.75 182.0625 C-11.76043988 184.23922045 -9.25162652 187.67555074 -6.6875 192.4375 C-5.07948464 198.43101178 -5.96192076 202.70083577 -8.63671875 208.10546875 C-15.45998365 217.58765636 -30.52610223 222.14794361 -41.25 225.375 C-42.04027588 225.61331543 -42.83055176 225.85163086 -43.64477539 226.09716797 C-55.20582142 229.39488164 -66.500627 230.4101794 -78.5 230.375 C-79.2007666 230.37445618 -79.9015332 230.37391235 -80.62353516 230.37335205 C-114.50027068 230.25291428 -144.53992616 217.41833304 -169 194 C-170.11955078 192.97519531 -170.11955078 192.97519531 -171.26171875 191.9296875 C-177.88236958 185.66722196 -182.97963336 178.55651738 -188 171 C-188.6290625 170.06671875 -189.258125 169.1334375 -189.90625 168.171875 C-207.23601593 140.60179284 -211.95805078 104.20535241 -204.83911133 72.62255859 C-198.84333447 48.87776111 -186.91829939 28.55146928 -170 11 C-169.34515625 10.28199219 -168.6903125 9.56398437 -168.015625 8.82421875 C-162.11677885 2.53463707 -155.13883693 -2.23469978 -148 -7 C-147.06542969 -7.63035156 -146.13085938 -8.26070312 -145.16796875 -8.91015625 C-101.47012457 -36.35415281 -40.12596623 -31.83598863 0 0 Z M-105 73 C-113.38986507 81.30497604 -117.32161833 90.20330202 -117.5 102 C-117.34479768 113.11587703 -113.85480178 122.07039058 -106 130 C-96.56584786 137.91052888 -86.85020159 141.82209573 -74.42578125 140.78515625 C-64.57531663 139.16145329 -55.68814842 134.43446541 -49 127 C-42.53553519 117.94974926 -39.15852384 108.80853685 -40.36328125 97.62890625 C-42.23011296 87.17235806 -46.47441613 77.87106878 -55.07421875 71.2734375 C-71.11443989 60.66671926 -89.86046432 60.30001036 -105 73 Z " transform="translate(207,26)"></path></svg>
                }
                else if (Settings.DockIcon == 2)
                {
                    <svg xmlns="http://www.w3.org/2000/svg"  class="fill-white w-4 h-4" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M7.5 6.707 6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0z" />
                    </svg>
                }
                else if (Settings.DockIcon == 3)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-white w-4 h-4" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" /></svg>
                }

                <span class="sr-only">Center</span>
            </button>
        </div>

        @* Botón de Contactos *@
        <button @onclick="()=>GoSection(2)" data-tooltip-target="tooltip-settings" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-zinc-800 group">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" class="w-5 h-5 mb-1 @(Settings.Section == 2 ? "fill-current-500 dark:fill-current-600":"fill-zinc-500")  group-hover:fill-current-600 dark:group-hover:fill-zinc-500" viewBox="0 0 45.814 45.814" xml:space="preserve">
            <g>
            <g>
            <path d="M29.319,17.088c-1.853-1.838-4.846-1.835-6.694,0.013c-1.853,1.851-1.853,4.855,0,6.708    c0.091,0.09,4.485,4.465,6.104,6.074c0.326,0.325,0.855,0.325,1.181,0c1.619-1.609,6.015-5.984,6.104-6.074    c1.853-1.853,1.853-4.856,0-6.708C34.165,15.253,31.173,15.25,29.319,17.088z" />
            <path d="M38.003,0H12.767C9.379,0,6.631,2.728,6.621,6.112h2.448c2.458,0,4.458,2.012,4.458,4.47s-2,4.471-4.458,4.471H6.62v3.384    h2.448c2.458,0,4.458,2.012,4.458,4.47s-2,4.47-4.458,4.47H6.62v3.436h2.448c2.458,0,4.458,1.986,4.458,4.444    s-2,4.445-4.458,4.445H6.62c0.024,3.384,2.767,6.112,6.146,6.112h25.236c3.396,0,6.146-2.752,6.146-6.146V6.147    C44.149,2.752,41.397,0,38.003,0z M40.108,39.678c0,1.192-0.953,2.146-2.146,2.146H18.54V3.991h19.422    c1.193,0,2.146,0.979,2.146,2.172V39.678L40.108,39.678z" />
            <path d="M4.134,13.033h4.935c1.362,0,2.467-1.087,2.467-2.45c0-1.362-1.104-2.45-2.467-2.45H4.134    c-1.362,0-2.467,1.087-2.467,2.45C1.667,11.945,2.772,13.033,4.134,13.033z" />
            <path d="M4.134,25.408h4.935c1.362,0,2.467-1.112,2.467-2.475c0-1.362-1.104-2.475-2.467-2.475H4.134    c-1.362,0-2.467,1.113-2.467,2.475C1.667,24.295,2.772,25.408,4.134,25.408z" />
            <path d="M11.535,35.258c0-1.363-1.104-2.475-2.467-2.475H4.134c-1.362,0-2.467,1.111-2.467,2.475c0,1.362,1.104,2.475,2.467,2.475    h4.935C10.431,37.732,11.535,36.62,11.535,35.258z" />
                    </g>
                </g>
            </svg>

            <span class="sr-only">Contactos</span>
        </button>

        @* Botón de Perfil *@
        <button @onclick="()=>GoSection(3)" data-tooltip-target="tooltip-profile" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-zinc-800 group">
            <svg class="w-5 h-5 mb-1 @(Settings.Section == 3 ? "fill-current-500 dark:fill-current-600":"text-zinc-500")  group-hover:text-current-600 dark:group-hover:text-zinc-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
            </svg>
            <span class="sr-only">Perfil</span>
        </button>

    </div>

</div>