@inject IJSRuntime JS

<!-- drawer component -->
<div id="@_id" class="flex items-center justify-center fixed bottom-0 left-0 right-0 z-50 w-full overflow-y-auto transition-transform translate-y-full " tabindex="-1" aria-labelledby="drawer-bottom-label">

    <div class="w-full lg:max-w-lg p-4 bg-white dark:bg-black rounded-t-xl">
        <div class="flex flex-col mt-5 min-h-[70dvh] max-h-[70dvh] px-3">


            @* Header. *@
            <div class="flex flex-col w-full items-center justify-center mt-5">

                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-current-500" viewBox="0 0 24 24">
                    <g id="">
                        <path d="M17,20a1,1,0,0,1-2,0,5,5,0,0,0-5-5H8a5,5,0,0,0-5,5,1,1,0,0,1-2,0,7,7,0,0,1,4.16-6.39,6,6,0,1,1,7.68,0A7,7,0,0,1,17,20ZM22,8H21V7a1,1,0,0,0-2,0V8H18a1,1,0,0,0,0,2h1v1a1,1,0,0,0,2,0V10h1a1,1,0,0,0,0-2Z" />
                    </g>
                </svg>


                <label class="text-xl mt-2 font-bold dark:text-white">Agregar Integrantes</label>

                <div class="w-full mt-2">
                    <input @oninput="Search" type="text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-xs dark:bg-zinc-900 focus:dark:bg-zinc-900 dark:border-zinc-700 dark:text-gray-100">
                </div>

            </div>

            @* Componentes. *@
            <div class="flex-1 overflow-y-auto gap-3 mt-2 p-1 UIScroll">

                @if (Result.Count <= 0)
                {
                    <div class="flex rounded-lg justify-center items-center border-dashed border-2 border-zinc-300 w-full py-7 mt-3 dark:border-gray-400">
                        <label class="text-zinc-400 dark:text-gray-200">Sin resultados</label>
                    </div>
                }
                else
                {
                    @foreach (var e in Result)
                    {
                        bool exist = Selected.Any(t => t.Profile.ID == e.Profile.ID);
                        <ProfileControl Model="e" State="exist" OnClick="(e)=>SelectControl(e, exist)"></ProfileControl>
                    }
                }


            </div>

            @* Botón Aceptar. *@
            <div class="flex w-full self-end mt-2 items-end justify-center mb-2">
                <button id="btn-close-panel-ide" type="button" class="px-3 py-2 w-full text-sm font-medium text-center text-white bg-current-500 rounded-lg hover:bg-current-600 focus:ring-4 focus:outline-none focus:ring-current-300 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">Aceptar</button>
            </div>

        </div>

    </div>

</div>