@inject IJSRuntime JS


<!-- drawer component -->
<div id="@_id" class="flex items-center justify-center fixed bottom-0 left-0 right-0 z-50 w-full overflow-y-auto transition-transform translate-y-full " tabindex="-1" aria-labelledby="drawer-bottom-label">

    <div class="w-full lg:max-w-lg bg-white dark:bg-black rounded-t-xl">

        <div class="flex flex-col mt-5 min-h-[70dvh] max-h-[70dvh]">

        <LIN.Emma.UI.Emma @ref="DocEmma" />

    </div>
    </div>
</div>
