@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="flex h-full w-full flex-grow flex-col overflow-hidden">
    @Body
</div>

<div class="flex h-20 min-h-20 w-full items-center justify-center @(ShowNavigation ? string.Empty : "hidden")">
    <BottomNavigation @ref="Navigation" Settings="Settings" />
</div>

@* Selector de dispositivos. *@
<DevicesDrawer @ref="DevicesSelector" />

@* Popup de nuevo contacto. *@
<NewContactPopup @ref="NewContactPopup" />

@* Popup de contacto. *@
<ContactPopup @ref="ContactPop" />