@inherits LayoutComponentBase

@inject NavigationManager Nav


<div class="flex flex-grow flex-col w-full h-full overflow-hidden">
    @Body
</div>

<div class="w-full min-h-20 h-20 flex items-center justify-center @(ShowNavigation ? "":"hidden")">

    <BottomNavigation @ref="Navigation" Settings="Settings" />

</div>


@* Selector de dispositivos. *@
<DevicesDrawer @ref="DevicesSelector" />

@* Popup de nuevo contacto. *@
<NewContactPopup @ref="NewContactPopup" />

@* Popup de contacto. *@
<ContactPopup @ref="ContactPop" />