@page "/product"
@inject NavigationManager nav


<style>
    .bg-image {
        background-image: url('./img/frutas.jpg');
        background-size: cover;
        background-position: center center;
    }
</style>


<div class="flex flex-grow flex-col w-full h-full overflow-hidden px-4 lg:px-6 items-center">


    <Header Tittle="Producto" GoBack="true" >

        @* Actualizar. *@
        <button @onclick="Edit" type="button" class="h-9 w-9 rounded-full p-2">
            <svg class="w-full h-full fill-zinc-800 hover:fill-zinc-600 dark:fill-zinc-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>
        </button>

    </Header>


    <div class="w-full max-w-lg">


        @* Header. *@
        <div class="w-full mt-5 dl:mt-0">

            @* Cartas. *@
            <div class="flex flex-col w-full items-center justify-center">


                <div class="flex justify-center bg-image border-2 border-zinc-200 dark:border-zinc-500 w-full rounded-lg p-2">

                    <div class="h-20 w-20 bg-zinc-100 p-2 rounded-lg ring-1 ring-zinc-300 bg-ring-100 dark:ring-zinc-600 dark:bg-zinc-900  translate-y-5">
                        <img class="h-full w-full" src="./img/inventory.png" />
                    </div>

                </div>




                <label class="font-bold text-2xl mt-5 dark:text-zinc-200">@Modelo.Name</label>


                <div class="flex items-center justify-center bg-red-100 dark:bg-red-100/20 rounded-lg p-1.5 w-full max-w-60 mt-2">
                    <img class="w-5 h-5 mr-1.5" src="./img/Products/fruit.png" />
                    <label class="text-red-600 mt-0.5">Frutas y verduras</label>
                </div>



            </div>

        </div>

        @* Componentes. *@
        <div class="flex-1 overflow-auto gap-2 mt-5 h-full">

            <div class="flex justify-between h-20 w-full gap-3">

                <div class="flex flex-col justify-center bg-zinc-100 dark:bg-zinc-900 w-full rounded-lg border border-zinc-300 px-3 dark:border-zinc-600">
                    <label class="font-bold dark:text-zinc-300">Venta</label>
                    <label class="text-sm -mt-0.5 text-green-600">$@Modelo.DetailModel.PrecioVenta</label>
                </div>

                <div class="flex flex-col justify-center bg-zinc-100 dark:bg-zinc-900 w-full rounded-lg border border-zinc-300 px-3 dark:border-zinc-600">
                    <label class="font-bold dark:text-zinc-300">Compra</label>
                    <label class="text-sm -mt-0.5 text-green-600">$@Modelo.DetailModel.PrecioCompra</label>
                </div>

            </div>






            <div class="flex flex-col w-full h-fit rounded-xl bg-zinc-100 dark:bg-zinc-900 p-3 border border-zinc-300 mt-3 dark:border-zinc-600">

                <label class="font-bold dark:text-zinc-200">Descripción</label>
                <label class="text-sm dark:text-zinc-400">@Modelo.Description</label>

            </div>


        </div>

    </div>

</div>
