@page "/product"
@inject NavigationManager nav


<style>
    .bg-image {
        background-image: url('./img/color.png');
        background-size: cover;
        background-position: center center;
    }
</style>


<div class="flex h-full w-full flex-grow flex-col items-center px-4 lg:px-6">


    <Header Tittle="Producto" GoBack="true" >

        @* Actualizar. *@
        <button @onclick="Edit" type="button" class="h-9 w-9 rounded-full p-2">
            <svg class="h-full w-full fill-zinc-800 hover:fill-zinc-600 dark:fill-zinc-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>
        </button>

        @* Eliminar. *@
        <button @onclick="()=>deletePopup.Show()" type="button" class="h-9 w-9 rounded-full p-2">
            <svg class="h-full w-full fill-zinc-800 hover:fill-zinc-600 dark:fill-zinc-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" /></svg>
        </button>

    </Header>

    



    <div class="UIScroll flex w-full flex-col items-center overflow-y-auto overflow-x-visible">

        <div class="-z-10 blur-[40px] absolute mt-8 flex h-20 w-full max-w-lg justify-center lg:blur-[70px] lg:mt-6">


            <div class="h-full w-20 animate-pulse rounded-full bg-blue-600 dark:bg-blue-500">

            </div>

            <div class="h-full w-20 animate-pulse rounded-full bg-current-600 dark:bg-current-500">
            </div>

        </div>

        <div class="w-full max-w-lg">


        @* Header. *@
        <div class="mt-5 w-full dl:mt-0">

            @* Cartas. *@
            <div class="relative flex w-full flex-col items-center">

               

                <div class="bg-zinc-100/40 h-20 w-20 rounded-lg p-2 backdrop-blur-2xl dark:bg-zinc-900/70">
                    <img class="h-full w-full" src="@GetImage()" />
                </div>

                <label class="mt-5 text-2xl font-bold dark:text-zinc-200">@Modelo?.Name</label>

                @{
                    var x = GetClass();
                }

                <div class="mt-2 flex w-full items-center justify-center">
                    <img class="mr-1.5 h-5 w-5" src="@x.Item2" />
                    <label class="mt-0.5 text-zinc-600">@x.Item1</label>
                </div>

                <div class="bg-zinc-200/40 mt-3 flex w-full max-w-40 items-center justify-center rounded-xl p-1.5 dark:bg-zinc-900">

                    <svg class="mr-2 h-4 w-4 dark:fill-zinc-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M248 0H208c-26.5 0-48 21.5-48 48V160c0 35.3 28.7 64 64 64H352c35.3 0 64-28.7 64-64V48c0-26.5-21.5-48-48-48H328V80c0 8.8-7.2 16-16 16H264c-8.8 0-16-7.2-16-16V0zM64 256c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H224c35.3 0 64-28.7 64-64V320c0-35.3-28.7-64-64-64H184v80c0 8.8-7.2 16-16 16H120c-8.8 0-16-7.2-16-16V256H64zM352 512H512c35.3 0 64-28.7 64-64V320c0-35.3-28.7-64-64-64H472v80c0 8.8-7.2 16-16 16H408c-8.8 0-16-7.2-16-16V256H352c-15 0-28.8 5.1-39.7 13.8c4.9 10.4 7.7 22 7.7 34.2V464c0 12.2-2.8 23.8-7.7 34.2C323.2 506.9 337 512 352 512z" /></svg>

                    <label class="font-bold dark:text-zinc-300">@Modelo?.DetailModel?.Quantity</label>
                </div>


            </div>

        </div>

        @* Componentes. *@
        <div class="flex-1 mt-5 gap-2 overflow-auto">

            <div class="flex h-20 w-full justify-between gap-2">


                <div class="bg-zinc-200/40 flex w-full items-center gap-3 rounded-lg px-3 backdrop-blur-lg dark:bg-zinc-900">

                    <svg class="h-7 w-7 fill-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" /></svg>

                    <div class="flex flex-col">
                        <label class="font-bold dark:text-zinc-300">Compra</label>
                        <label class="-mt-0.5 text-sm text-green-600">$@Modelo?.DetailModel?.PrecioCompra.ToString("#,##0.##")</label>
                    </div>
                    
                </div>
               
                <div class="bg-zinc-200/40 flex w-full items-center gap-3 rounded-lg px-3 backdrop-blur-lg dark:bg-zinc-900">
<svg class="h-7 w-7 fill-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 64C28.7 64 0 92.7 0 128V384c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H64zm64 320H64V320c35.3 0 64 28.7 64 64zM64 192V128h64c0 35.3-28.7 64-64 64zM448 384c0-35.3 28.7-64 64-64v64H448zm64-192c-35.3 0-64-28.7-64-64h64v64zM288 160a96 96 0 1 1 0 192 96 96 0 1 1 0-192z" /></svg>
                    <div class="flex flex-col">
                        <label class="font-bold dark:text-zinc-300">Venta</label>
                        <label class="-mt-0.5 text-sm text-green-600">$@Modelo?.DetailModel?.PrecioVenta.ToString("#,##0.##")</label>
                    </div>

                </div>

            </div>

            <div class="bg-zinc-200/40 mt-2 flex h-fit w-full flex-col rounded-xl p-3 dark:bg-zinc-900">

                <svg class="h-5 w-5 fill-zinc-800 dark:fill-zinc-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg>
                <label class="mt-2 font-bold dark:text-zinc-200">Descripción</label>
                <label class="text-sm dark:text-zinc-400">@Modelo?.Description</label>

            </div>


        </div>

        </div>
    </div>


</div>

<DeletePopup @ref="deletePopup" Content="¿Eliminar este producto?" OnAccept="Delete"></DeletePopup>
<AlertPopup @ref="alertPopup"></AlertPopup>