@page "/outflow"



@code {




}




<div class="flex flex-col">
</div>





<div class="flex flex-col p-4">







    <div class="flex flex-col ml-2">
        <label class="font-bold text-base">@Modelo.Type.ToString()</label>
        <label class="text-xs -mt-1 text-gray-600">@Modelo.Date</label>
        <label class="text-xs -mt-1 text-gray-600">@Modelo.CountDetails</label>
    </div>




</div>


<BottomNavigation Section="1" />