@inject IJSRuntime Js


<!-- Small Modal -->
<div id="small-modal-member" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">

        <!-- Modal content -->
        <div class="relative bg-white rounded-xl shadow dark:bg-zinc-900 p-4">

            <!-- Modal header -->
            <div class="flex items-center justify-between rounded-t dark:border-gray-600">
                <button id="closeee-member" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="small-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="p-4 md:p-5 -mt-8">

                    <div class="flex items-center justify-center flex-col w-full">


                      
                            <div class="relative inline-flex items-center justify-center w-16 h-16 overflow-hidden bg-gray-100 rounded-full dark:bg-zinc-700">
                                <span class="font-medium text-gray-600 dark:text-gray-300">@Global.Utilities.Strings.GetInitials(Model?.Nombre ?? "")</span>
                            </div>
                        



                        <label class="mt-1 font-bold text-xl text-zinc-900 dark:text-zinc-200">@(Model?.Nombre ?? "Unnamed")</label>

                        
                        <select @bind="Type" @oninput="Change" id="small" class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-4 mx-5">
                            <option value="0">Sin rol</option>
                            <option value="1">Administrador</option>
                            <option value="2">Integrante</option>
                            <option value="4">Invitado</option>
                        </select>


                    </div>


            </div>






        </div>

    </div>
</div>