@inject IJSRuntime Js


<!-- Small Modal -->
<div id="small-modal-@Key" tabindex="-1" class="  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-dvh">
    <div class="relative w-full max-w-md max-h-full">

        <!-- Modal content -->
        <div class="relative bg-white rounded-xl shadow dark:bg-zinc-900">

            @* Cargando *@
            @if (state == 1)
            {
                <div class="flex items-center justify-center py-20">
                    <Loader></Loader>
                </div>
            }
            @* Success *@
            else if (state == 2)
            {
                <div class="flex items-center justify-center">
                    <Success></Success>
                </div>
            }
            @* Error *@
            else if (state == 3)
            {
                <div class="flex items-center justify-center">
                    <label>Error</label>
                </div>
            }
            else if (state == 0)
            {
                @* Cabecera *@
                <div class="flex items-center justify-center p-4 md:p-5 rounded-t dark:border-gray-600">

                    <label class="mb-3 font-bold dark:text-zinc-100">Nuevo contacto</label>

                    <button id="close-@Key" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="small-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>

                @* Cuerpo *@
                <div class="px-7 md:p-5 w-full">

                    @* Inputs *@
                    <div class="flex items-center justify-center flex-col w-full">

                        <div class="w-full">
                            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Perfil</label>
                            <div @onclick="async ()=> Profile = await Services.File.OpenImage()" class="flex items-center w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-xs dark:bg-[#2C2C2C] focus:dark:bg-[#323232] dark:border-zinc-700 dark:text-gray-100">

                                @if(Profile.Length <=0)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-image w-4 h-4" viewBox="0 0 16 16">
                                        <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                                        <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1z" />
                                    </svg>
                                }
                                else
                                {
                                    <img class="w-6 h-6 rounded-full" src="data:image/png;base64,@Img64" alt="Rounded avatar">
                                }

                               

                                <label class="ml-2">Imagen de contacto</label>

                            </div>
                        </div>
                        <div class="w-full mt-2">
                            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                            <input @bind="Name" type="text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-xs dark:bg-[#2C2C2C] focus:dark:bg-[#323232] dark:border-zinc-700 dark:text-gray-100">
                        </div>
                        <div class="w-full mt-2">
                            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                            <input @bind="Mail" type=" text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-xs dark:bg-[#2C2C2C] focus:dark:bg-[#323232] dark:border-zinc-700 dark:text-gray-100">
                        </div>
                        <div class="w-full mt-2">
                            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                            <input @bind="Phone" type="text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-xs dark:bg-[#2C2C2C] focus:dark:bg-[#323232] dark:border-zinc-700 dark:text-gray-100">
                        </div>
                        <div class="w-full mt-2">
                            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                            <input @bind="Dirección" type="text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-xs dark:bg-[#2C2C2C] focus:dark:bg-[#323232] dark:border-zinc-700 dark:text-gray-100">
                        </div>

                    </div>

                </div>


                @* Botón *@
                <div class="px-7 pb-5 mt-5">
                    <button @onclick="Create" type="button" class="text-white w-full bg-current-700 hover:bg-current-800 focus:outline-none focus:ring-4 focus:ring-current-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">Agregar</button>
                </div>
            }
        </div>
    </div>
</div>