@inject IJSRuntime Js


<!-- Small Modal -->
<div id="small-modal-@Key" tabindex="-1" class="h-[calc(100%-1rem)] UIScroll fixed left-0 right-0 top-0 z-50 hidden max-h-dvh w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
    <div class="relative max-h-full w-full max-w-md">

        <!-- Modal content -->
        <div class="relative rounded-xl bg-white px-7 shadow dark:bg-zinc-900 md:p-5">

            @* Cargando *@
            @if (state == 1)
            {
                <div class="flex items-center justify-center py-20">
                    <Loader></Loader>
                </div>
            }
            @* Success *@
            else if (state == 2)
            {
                <div class="flex items-center justify-center">
                    <Success></Success>
                </div>
            }
            @* Error *@
            else if (state == 3)
            {
                <div class="flex items-center justify-center">
                    <label>Error</label>
                </div>
            }
            else if (state == 0)
            {
                @* Cabecera *@
                <div class="flex items-center justify-between rounded-t py-3 dark:border-gray-600">

                    <label class="font-bold dark:text-zinc-100">Nuevo contacto</label>

                    <button id="close-@Key" type="button" class="flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="small-modal">
                        <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>

                @* Cuerpo *@
                <div class="w-full">

                    @* Inputs *@
                    <div class="flex w-full flex-col items-center justify-center">

                        <div class="w-full">
                            <label for="small-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Perfil</label>
                            <div @onclick="async ()=> Profile = await Services.File.OpenImage()" class="flex items-center w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-xs dark:bg-[#2C2C2C] focus:dark:bg-[#323232] dark:border-zinc-700 dark:text-gray-100">

                                @if(Profile.Length <=0)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-image h-4 w-4" viewBox="0 0 16 16">
                                        <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                                        <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1z" />
                                    </svg>
                                }
                                else
                                {
                                    <img class="h-4 w-4 rounded-full" src="data:image/png;base64,@Img64" alt="Rounded avatar">
                                }

                               

                                <label class="ml-2">Imagen de contacto</label>

                            </div>
                        </div>
                        <div class="mt-2 w-full">
                            <label for="small-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                            <input @bind="Name" type="text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 dark:bg-[#2C2C2C] dark:border-zinc-700 dark:text-gray-100 sm:text-xs focus:dark:bg-[#323232]">
                        </div>
                        <div class="mt-2 w-full">
                            <label for="small-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                            <input @bind="Mail" type=" text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 dark:bg-[#2C2C2C] dark:border-zinc-700 dark:text-gray-100 sm:text-xs focus:dark:bg-[#323232]">
                        </div>
                        <div class="mt-2 w-full">
                            <label for="small-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                            <input @bind="Phone" type="text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 dark:bg-[#2C2C2C] dark:border-zinc-700 dark:text-gray-100 sm:text-xs focus:dark:bg-[#323232]">
                        </div>
                        <div class="mt-2 w-full">
                            <label for="small-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                            <input @bind="Dirección" type="text" id="small-input" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 p-2 text-gray-900 placeholder-gray-400 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 dark:bg-[#2C2C2C] dark:border-zinc-700 dark:text-gray-100 sm:text-xs focus:dark:bg-[#323232]">
                        </div>

                    </div>

                </div>


                @* Botón *@
                <div class="mt-5 px-7">
                    <button @onclick="Create" type="button" class="mb-2 me-2 w-full rounded-full bg-current-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-current-800 focus:outline-none focus:ring-4 focus:ring-current-300 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">Agregar</button>
                </div>
            }
        </div>
    </div>
</div>