@code{


    /// <summary>
    /// Modelo del producto.
    /// </summary>
    [Parameter]
    public InflowDataModel? Model { get; set; }



    /// <summary>
    /// Evento al hacer click.
    /// </summary>
    [Parameter]
    public Action<InflowDataModel?>? OnClick { get; set; }



    /// <summary>
    /// Enviar el evento.
    /// </summary>
    private void SendEvent()
    {
        OnClick?.Invoke(Model);
    }



    private string GetImage()
    {

            return "./img/Products/packages.png";
     
    }



}


<div @onclick="SendEvent" class="flex justify-between items-center bg-white shadow-sm rounded-lg p-3 dark:bg-zinc-900 mt-2">

    <div class="flex justify-between items-center">
        <div class="h-10 w-10 p-2 rounded-lg  ring-1 ring-zinc-300 bg-ring-100 dark:ring-zinc-600 ">
            <img class="h-full w-full" src="@GetImage()" />
        </div>

        <div class="flex flex-col ml-2">
            <label class="font-bold text-sm text-zinc-700 dark:text-zinc-300">@(Model?.Type.ToString() ?? "Sin categoría")</label>
            <label class="text-xs -mt-1 text-zinc-600 dark:text-zinc-400 dark:fill-zinc-400">@(Model?.CountDetails.ToString() ?? "0 Detalles")</label>
        </div>
    </div>

   
    
</div>