
@code{

    [Parameter]
    public Notificacion Model { get; set; }


    [Parameter]
    public List<Notificacion> Models { get; set; }


    [Parameter]
    public Action OnRemove { get; set; }

    int section = 1;


    async void Accept()
    {
        section = 0;
        StateHasChanged();
        var response = await LIN.Access.Inventory.Controllers.Inventories.UpdateState(Model.ID, InventoryAccessState.Accepted);

        if (response.Response != Responses.Success)
        {
            section = 2;
            StateHasChanged();
        }

        Models.Remove(Model);
        OnRemove();

        section = 1;
        StateHasChanged();

    }


    async void Decline()
    {
        section = 0;
        StateHasChanged();
        var response = await LIN.Access.Inventory.Controllers.Inventories.UpdateState(Model.ID, InventoryAccessState.Deleted);

        if (response.Response != Responses.Success)
        {
            section = 2;
            StateHasChanged();
        }

        Models.Remove(Model);
        OnRemove();

        section = 1;
        StateHasChanged();

    }

}

<div class="flex p-3 bg-white shadow rounded w-full mt-2 items-center justify-between">

    <div class="flex items-center">

        <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M121 32C91.6 32 66 52 58.9 80.5L1.9 308.4C.6 313.5 0 318.7 0 323.9V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V323.9c0-5.2-.6-10.4-1.9-15.5l-57-227.9C446 52 420.4 32 391 32H121zm0 64H391l48 192H387.8c-12.1 0-23.2 6.8-28.6 17.7l-14.3 28.6c-5.4 10.8-16.5 17.7-28.6 17.7H195.8c-12.1 0-23.2-6.8-28.6-17.7l-14.3-28.6c-5.4-10.8-16.5-17.7-28.6-17.7H73L121 96z" />
        </svg>

        <div class="flex flex-col justify-center">
            <label class="ml-2 font-bold">@Model.Inventario</label>
            <label class="ml-2 text-xs text-zinc-600 -mt-0.5">Invitado por @Model.UsuarioInvitador</label>
        </div>

    </div>

    <div class="flex items-center gap-2">

        @if (section == 0)
        {
            <LIN.Emma.UI.CircleLoader />
        }
        else if (section == 1)
        {
            <button @onclick="Decline" class="bg-red-500 h-8 w-8 p-2 rounded-full hover:bg-red-600 focus:bg-red-600">
                <svg class="h-full w-full fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" /></svg>
            </button>

            <button @onclick="Accept" class="bg-current-500 h-8 w-8 p-2 rounded-full hover:bg-current-600 focus:bg-current-600">
                <svg class="h-full w-full fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /></svg>
            </button>
        }

        else if (section == 2)
        {
           <label>Fallo</label>
        }

    </div>

</div>