@page "/members/{Id}"


@* Pantalla *@
<div class="flex flex-grow flex-col w-full h-full overflow-hidden px-4 lg:px-6">

    @* Header. *@
    <LIN.Components.Layout.Header Tittle="Integrantes" GoBack="true" />


    @* Header. *@
    <div class="mt-1">

        @* Cartas. *@
        <div class="mt-3">
           
        </div>

        @* Total de resultados. *@
        <label class="text-zinc-400 text-sm">Se encontraron @(Response?.Models.Count ?? 0) resultados</label>

    </div>


    @* Componentes. *@
    <div class="flex-1 overflow-auto gap-2 UIScroll">


        @* Cargando *@
        @if (Response == null || IsLoading)
        {
            <div class="w-full flex items-center justify-center">
                <Loader />
            </div>
        }

        @* Render *@
        else
        {
            switch (Response.Response)
            {

                @* Correctamente *@
                case Responses.Success:
                    {

                        @* No hay elementos *@
                        @if (Response.Models.Count <= 0)
                        {
                            <div class="flex rounded-lg justify-center items-center border-dashed border-2 border-zinc-300 w-full py-7 mt-3 dark:border-gray-400">
                                <label class="text-zinc-400 dark:text-gray-200">No tienes ningún producto</label>
                            </div>
                        }

                        @* Renderizar componentes *@
                        else
                        {
                            @foreach (var e in Response.Models ?? [])
                            {
                                <div class="flex items-center bg-white shadow-sm rounded-lg p-3 dark:bg-zinc-900">

                                    <div class="h-10 w-10 p-2 rounded-lg  ring-1 ring-zinc-300 bg-ring-100 dark:ring-zinc-600 ">
                                        <img class="h-full w-full" src="./img/inventory.png" />
                                    </div>

                                    <div class="flex flex-col ml-2">
                                        <label class="font-bold text-sm text-zinc-700 dark:text-zinc-300">@e.Nombre</label>
                                        <label class="text-xs -mt-1 text-zinc-600 dark:text-zinc-400">@e.Usuario.ToString()</label>
                                    </div>

                                </div>
                            }
                        }
                        break;
                    }

                @* Otros *@
                default:
                    {
                        <div class="flex rounded-lg justify-center items-center border-dashed border-2 border-zinc-300 w-full py-7 mt-3 dark:border-gray-400">
                            <label class="text-zinc-400 dark:text-gray-200">Error al obtener los productos</label>
                        </div>
                        break;
                    }

            }

        }

    </div>


</div>